.wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.signup-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  background-color: #eee;
  width: 400px;
  border-radius: 20px;
  padding: 90px 40px;
  margin: 100px 0;
  border: 1px solid #ccc;
}

.signup-container h3 {
  margin-bottom: 40px;
  text-align: center;
}

.join {
  font-weight: bold;
}

.form-inputs {
  width: 250px;
  padding-bottom: 20px;
}

.form-inputs input {
  width: 100%;
}

.btn-container{
text-align: center;

}

.btn-container .login-btn {
  text-align: left;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 20px;
  color: #fff;
  background-color: #3B55CE;
  border: 1px solid #3B55CE;
}

.btn-container.signup {
  margin-top: 30px;
}

.login-btn:hover {
  background-color: #ff61be;
  border: 1px solid #ff61be;
}

.signup-btn {
  text-align: right;
  margin-top: 50px;
}

.signup-btn .signup {
  background-color: #3B55CE;
  border: 1px solid #3B55CE;
}

.signup-btn button:hover {
  background-color: #ff61be;
  border: 1px solid #ff61be;
}
